{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no">
    <link rel="icon" href="{% static 'img/icons/d20.png' %}" type="image/png">
    <title>Pulse Geek - Inicio</title>

    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">


    <!-- Fontes Google -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>

</head>

<body>
    <div id="overlay" class="overlay"></div>
    <header class="mobileHeader">
        <!-- Nav para dispositivos com mais de 700px de largura -->
        <nav class="navDesck">
            <div class="containerLogo">
                <a href="{% url 'inicio' %}">
                    <img src="{% static 'img/logo.png' %}" title="Logo da Pulse Geek" alt="Logo">
                </a>
            </div>

            <div class="containerIcons">
                <img src="{% static 'img/icons/menubranco.png' %}" alt="Icon Menu" id="menuIcon">
                <div id="menuSuspenso" class="estiloMenu">
                    <ul style="color: #666;">
                        <li class="barrasMenu borda" id="cardsMenu">CARDS
                            <ul class="submenu">
                                <li class="barrasMenu borda">CARDS</li>
                                <li class="barrasMenu borda">DECKS</li>
                                <li class="barrasMenu borda">BOOSTER PACKS</li>
                                <li class="barrasMenu">EQUIPAMENTOS</li>
                            </ul>
                        </li>
                        <li class="barrasMenu borda" id="rpgMenu">RPG
                            <ul class="submenu">
                                <li class="barrasMenu borda">DADOS</li>
                                <li class="barrasMenu borda">LIVROS</li>
                                <li class="barrasMenu">ACESSORIOS</li>
                            </ul>
                        </li>
                        <li class="barrasMenu">COLECIONÁVEIS</li>
                    </ul>
                </div>
            </div>

            <div class="containerBusca">
                <input type="text" id="txtBusca" placeholder="Pesquisar..." />
                <div class="lupa">
                    <center>
                        <img src="{% static 'img/icons/lupa.png' %}" id="iconLupa" alt="Ícone de Lupa">
                    </center>
                </div>
            </div>

            <div class="containerIcons">
                <a href="{% url 'pag-carrinho' %}"><img src="{% static 'img/icons/carrinhobranco.png' %}"
                        alt="Icon Carrinho"></a>
            </div>

            <div class="containerIcons">
                <a href="{% url 'pag-cadastro' %}"><img src="{% static 'img/icons/adicionar-usuario.png' %}"
                        alt="Icon Add Usuário" id="menuIcon"></a>
            </div>
        </nav>


        <!-- Nav para dispositivos com menos de 700px de largura -->
        <nav class="navMobile">
            <div class="containerLogo">
                <a href="{% url 'inicio' %}">
                    <img src="{% static 'img/logo.png' %}" title="Logo da Pulse Geek" alt="Logo">
                </a>
            </div>

            <div class="containerIcons">
                <a href="{% url 'pag-cadastro' %}"><img src="{% static 'img/icons/adicionar-usuario.png' %}"
                        alt="Icon Add Usuário" id="menuIcon"></a>
            </div>

            <div class="containerIcons">
                <a href="{% url 'pag-carrinho' %}"><img src="{% static 'img/icons/carrinhobranco.png' %}"
                        alt="Icon Carrinho"></a>
            </div>

            <div class="containerIcons">
                <img src="{% static 'img/icons/menubranco.png' %}" alt="Icon Menu" id="menuIconMobile">
                <div id="sideMenu" class="side-menu">
                    <ul>
                        <!-- Menu principal -->
                        <li class="menu-item" id="setaCards">
                            <span>CARDS</span>
                            <img src="{% static 'img/icons/seta2.png' %}" alt="Seta" class="menu-icon">
                        </li>
                        <!-- Submenu de CARDS -->
                        <ul class="submenu" id="subCards" style="display: none;font-size: 80%;">
                            <li>CARDS</li>
                            <li>DECKS</li>
                            <li>BOOSTER PACKS</li>
                            <li>EQUIPAMENTOS</li>
                        </ul>
                        <!-- Menu principal -->
                        <li class="menu-item" id="setaRPG">
                            <span>RPG</span>
                            <img src="{% static 'img/icons/seta2.png' %}" alt="Seta" class="menu-icon">
                        </li>
                        <!-- Submenu de RPG -->
                        <ul class="submenu" id="subRPG" style="display: none;font-size: 80%;">
                            <li>DADOS</li>
                            <li>LIVROS</li>
                            <li>ACESSÓRIOS</li>
                        </ul>
                        <li><a href="#">COLECIONÁVEIS</a></li>
                    </ul>
                </div>
            </div>

            <br>

            <div class="containerBusca">
                <input type="text" id="txtBuscaMobile" placeholder="Pesquisar..." />
                <div class="lupa">
                    <center>
                        <img src="{% static 'img/icons/lupa.png' %}" id="iconLupaMobile" alt="Ícone de Lupa">
                    </center>
                </div>
            </div>

        </nav>
    </header>

    <!-- Slide de img -->
    <div class="slide" style="margin-top: 10px;">
        <div class="slides">
            <img src="{% static 'img/slide/slide1.png' %}" alt="Imagem 1">
        </div>
        <div class="slides">
            <img src="{% static 'img/slide/slide2.png' %}" alt="Imagem 2">
        </div>
        <div class="slides">
            <img src="{% static 'img/slide/slide3.png' %}" alt="Imagem 3">
        </div>
        <div class="slides">
            <img src="{% static 'img/slide/slide4.png' %}" alt="Imagem 4">
        </div>

        <div class="dot-container">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
        </div>
    </div>
    <!-- Slide de img -->

    <section class="clearfix fontMobile">
        <!-- Cards de categorias -->
        <h3 class="title">CATEGORIAS</h3>

        <a href="#">
            <div class="containerCategorias">
                <h1 class="NicoMoji titleCards" style=" font-size: x-large;">CARDS</h1>
                <div class="imgCategorias"><img src="{% static 'img/icons/cards.png' %}" alt="Ícone de Cards"></div>
            </div>
        </a>
        <a href="#">
            <div class="containerCategorias" style="margin-left: 5%;">
                <h1 class="NicoMoji titleCards" style=" font-size: x-large;">RPG</h1>
                <div class="imgCategorias"><img src="{% static 'img/icons/d20.png' %}" alt="Ícone de RPG"></div>
            </div>
        </a>
        <a href="#">
            <div class="containerCategorias" style="margin-left: 5%;">
                <h1 class="NicoMoji titleCards" style=" font-size: x-large;">COLECIONAVEIS</h1>
                <div class="imgCategorias"><img src="{% static 'img/icons/quadrinho.png' %}"
                        alt="Ícone de Colecionáveis"></div>
            </div>
        </a>
        <!-- Cards de categorias -->

        <!-- Cards de ofertas -->
        <h3 class="title">OFERTAS</h3>
        <div class="produtoOferta produtos">
            <!-- Estrutura do produto, será populada dinamicamente -->
            <div class="produto-card" style="display: none;">
                <img src="{% static 'img/produtos/podutos1.jpg' %}" alt="Imagem do Produto">
                <h3>Nome do Produto</h3>
                <p class="preco-novo">R$ 000,00</p>
                <p class="preco-antigo">R$ 000,00</p>
            </div>
        </div>
        <!-- Cards de ofertas -->

        <!-- Cards de lançamento -->
        <h3 class="title" style="margin-top: 5%;">LANÇAMENTOS</h3>
        <div class="produtoLancados produtos">
            <!-- Estrutura do produto, será populada dinamicamente -->
            <div class="produto-card" style="display: none;">
                <img src="{% static 'img/produtos/podutos2.jpg' %}" alt="Imagem do Produto">
                <h3>Nome do Produto</h3>
                <p class="preco-novo">R$ 000,00</p>
            </div>
        </div>
        <!-- Cards de ofertas -->
    </section>



    <footer class="footerDeck">
        <div class="footer-container">
            <div class="footer-coluna">
                <h3>DEPARTAMENTOS</h3>
                <p>Cards</p>
                <p>RPG</p>
                <p>Colecionáveis</p>

                <h3>INSTITUCIONAL</h3>
                <p>Sobre</p>
                <p>Termos e condições</p>

                <h3>FAQ</h3>
                <p>FAQ</p>
            </div>

            <div class="footer-coluna">
                <h3>ATENDIMENTO</h3>
                <p>Horário de atendimento:</p>
                <p>Segunda à Sexta: 08:00 às 20:00</p>
                <p>Sábado: 09:00 às 15:00</p>
                <p>Endereço:</p>
                <p>Rua Carlos Gomes, 132 - 9º andar - Centro</p>
                <p>Franca/SP - CEP: 14003-000</p>

                <h3>CENTRAL SAC</h3>
                <p>(16) 4444-4444</p>
            </div>

            <div class="footer-coluna">
                <h3>EMAIL PARA CONTATO</h3>
                <p>pulsegeek@gmail.com</p>

                <h3>REDES SOCIAIS</h3>
                <p>Instagram: @pulsegeek</p>

                <img src="{% static 'img/logo.png' %}" style="width: 150px; height: 100px;" title="Logo da Pulse Geek"
                    alt="Logo">
            </div>
        </div>
        <div class="footer-bottom">
            <p>Copyright 2024 Pulse Geek - Todos os direitos reservados. Imagens meramente ilustrativas.</p>
        </div>
    </footer>

    <footer class="footerMobile">
        <div class="footer-container">

            <div class="footer-coluna">
                <h3>ATENDIMENTO</h3>
                <p>Horário de atendimento:</p>
                <p>Segunda à Sexta: 08:00 às 20:00</p>
                <p>Sábado: 09:00 às 15:00</p>
                <p>Endereço:</p>
                <p>Rua Carlos Gomes, 132 - 9º andar - Centro</p>
                <p>Franca/SP - CEP: 14003-000</p>

                <h3>CENTRAL SAC</h3>
                <p>(16) 4444-4444</p>

                <h3>EMAIL PARA CONTATO</h3>
                <p>pulsegeek@gmail.com</p>

                <h3>REDES SOCIAIS</h3>
                <p>Instagram: @pulsegeek</p>
            </div>

            <div class="footer-coluna">
                <h3>DEPARTAMENTOS</h3>
                <p>Cards</p>
                <p>RPG</p>
                <p>Colecionáveis</p>

                <h3>INSTITUCIONAL</h3>
                <p>Sobre</p>
                <p>Termos e condições</p>

                <h3>FAQ</h3>
                <p>FAQ</p>
                <img src="{% static 'img/logo.png' %}" style="width: 150px; height: 100px;" title="Logo da Pulse Geek"
                    alt="Logo">
            </div>
        </div>

        <div class="footer-bottom">
            <p style="font-size: 20px;">Copyright 2024 Pulse Geek - Todos os direitos reservados. Imagens meramente
                ilustrativas.</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script src="{% static 'js/mainScript.js' %}"></script>
    <script src="{% static 'js/indexScript.js' %}"></script>
    <script>

        // JavaScript para Carregar Produtos (Simulação)
        // Produtos de ofertas
        const produtosOferta = [
            {
                nome: "Booster Pack - The Infinite Forbidden",
                precoNovo: "R$ 000,00",
                precoAntigo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos1.jpg' %}"
            },
            {
                nome: "Booster Pack - The Infinite Forbidden",
                precoNovo: "R$ 000,00",
                precoAntigo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos1.jpg' %}"
            },
            {
                nome: "Booster Pack - The Infinite Forbidden",
                precoNovo: "R$ 000,00",
                precoAntigo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos1.jpg' %}"
            },
            {
                nome: "Booster Pack - The Infinite Forbidden",
                precoNovo: "R$ 000,00",
                precoAntigo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos1.jpg' %}"
            }
        ];

        // Produtos de lançamentos
        const produtosLancamentos = [
            {
                nome: "Novidade Pack - Forbidden Horizons",
                precoNovo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos2.jpg' %}"
            },
            {
                nome: "Novidade Pack - Forbidden Horizons",
                precoNovo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos2.jpg' %}"
            },
            {
                nome: "Novidade Pack - Forbidden Horizons",
                precoNovo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos2.jpg' %}"
            },
            {
                nome: "Novidade Pack - Forbidden Horizons",
                precoNovo: "R$ 000,00",
                imagem: "{% static 'img/produtos/podutos2.jpg' %}"
            }
        ];

        // Função para carregar produtos de ofertas
        function carregarProdutosOferta() {
            const container = document.querySelector('.produtoOferta');
            produtosOferta.forEach(produto => {
                const card = document.createElement('div');
                card.classList.add('produto-card');

                card.innerHTML = `
            <div>
                <img src="${produto.imagem}" alt="${produto.nome}">
            </div>
            <h3 style="text-align: left; margin-left: 5%;">${produto.nome}</h3>
            <p class="preco-novo">${produto.precoNovo}</p>
            <p class="preco-antigo">${produto.precoAntigo}</p>
        `;
                container.appendChild(card);
            });
        }

        // Função para carregar produtos de lançamentos
        function carregarLancamentos() {
            const container = document.querySelector('.produtoLancados');
            produtosLancamentos.forEach(produto => {
                const card = document.createElement('div');
                card.classList.add('produto-card');

                card.innerHTML = `
            <div>
                <img src="${produto.imagem}" alt="${produto.nome}">
            </div>
            <h3 style="text-align: left; margin-left: 5%;">${produto.nome}</h3>
            <p class="preco-novo">${produto.precoNovo}</p>
        `;
                container.appendChild(card);
            });
        }

        // Carregar os produtos quando o DOM estiver pronto
        document.addEventListener("DOMContentLoaded", () => {
            carregarProdutosOferta();
            carregarLancamentos();
        });
    </script>

</body>

</html>